<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} - My Toy Shop </title>
</head>
<body>
    <h1> List of Toy Orders</h1>
    <h5> Customer name : Toy ordered - £price - In Stock</h5>
    {% for order in orders%} <!-- this is a for loop in Jinja-->
    <div>
        <p> 
        {{order.customer_name}} : <b> {{order.toy_description}} {{order.price}} {{order.in_stock}} </b>
        </p>
    </div>
    {% endfor %}
</body>
</html>