<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} - Customer Order</title>
</head>
<body>
    <h1> Order for one customer</h1> 
    <div>
        <p> 
        {{order.customer_name}} : <b> {{order.toy_description}} {{order.price}} {{order.in_stock}} </b>
        </p>
    </div>
</body>
</html>